In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
Real_estate=pd.read_excel('销售2.xlsx')

In [5]:
pd.DataFrame(Real_estate)

,solutionid,maincaption,itemcaption,homeid,mainstockrate,itemstockrate,cityname,housename,cityname.1,houseregion,...,hometype,totalbuildarea,totaltradearea,totaltrademoney,totaltradeprice,sumsupplyarea,supplyarea,month,roomusage,TRADEAREA
0,58fd0723-7ae2-45c7-9fcf-f569b56ec4d1,绿城中国控股有限公司,上海中瀚置业有限公司,255f8077-32d3-427b-be73-50f427ca816a,35.0,100.0,上海,新湖青蓝国际,上海,静安,...,普通住宅;,183242.02,127227.43000,1.010979e+10,79462.359667,133749.9200,NaN,43891,其他,30.200000
1,d131fba4-04a5-4d86-a633-b6cc5cb2a70a,绿地控股集团股份有限公司,南京绿地置业有限公司,0b2a877a-3b2d-4473-9c5e-531b025f9165,100.0,100.0,南京,绿地海悦,南京,浦口,...,普通住宅;,229855.30,189288.69849,5.706512e+09,30147.135697,202262.5784,NaN,43862,普通住宅,439.199982
2,b1965d75-5854-4ddb-bdc3-697713152e46,中国恒大集团,恒大地产集团(中山)有限公司,5c5dd5b1-c304-40f9-a940-5594a76299e4,100.0,100.0,中山,恒大绿洲,中山,南区,...,普通住宅;,306077.19,566724.27000,5.050263e+09,8911.322800,490355.4100,NaN,43831,商业,75.850000
3,58fd0723-7ae2-45c7-9fcf-f569b56ec4d1,新湖中宝股份有限公司,上海中瀚置业有限公司,255f8077-32d3-427b-be73-50f427ca816a,65.0,100.0,上海,新湖青蓝国际,上海,静安,...,普通住宅;,183242.02,127227.43000,1.010979e+10,79462.359667,133749.9200,NaN,43891,其他,30.200000
4,24668b1f-6406-4b0c-8689-4c02289378ca,世茂集团控股有限公司,福州世茂嘉实置业有限公司,05597cbf-bc19-4c6c-b76b-50ffe0fcc74d,100.0,100.0,福州,世茂云图三期,福州,晋安区,...,普通住宅;动迁安置房;,51014.00,38523.41024,6.281860e+08,16306.602949,50005.7400,NaN,43831,动迁安置房,12417.860004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
966007,64699adb-b787-43f6-8189-876370d376a2,碧桂园控股有限公司,重庆恒碧房地产开发有限公司,d9712110-637f-41b0-b79c-d1b389535e0b,100.0,100.0,重庆,城口碧桂园观澜府,重庆,城口县,...,普通住宅;,170900.00,94701.89000,5.323013e+08,5620.810196,0.0000,NaN,44378,普通住宅,2816.540000
966008,64699adb-b787-43f6-8189-876370d376a2,碧桂园控股有限公司,重庆恒碧房地产开发有限公司,d9712110-637f-41b0-b79c-d1b389535e0b,100.0,100.0,重庆,城口碧桂园观澜府,重庆,城口县,...,普通住宅;,170900.00,94701.89000,5.323013e+08,5620.810196,0.0000,NaN,44197,普通住宅,7652.930000
966009,64699adb-b787-43f6-8189-876370d376a2,碧桂园控股有限公司,重庆恒碧房地产开发有限公司,d9712110-637f-41b0-b79c-d1b389535e0b,100.0,100.0,重庆,城口碧桂园观澜府,重庆,城口县,...,普通住宅;,170900.00,94701.89000,5.323013e+08,5620.810196,0.0000,NaN,44044,普通住宅,2465.140000
966010,64699adb-b787-43f6-8189-876370d376a2,碧桂园控股有限公司,重庆恒碧房地产开发有限公司,d9712110-637f-41b0-b79c-d1b389535e0b,100.0,100.0,重庆,城口碧桂园观澜府,重庆,城口县,...,普通住宅;,170900.00,94701.89000,5.323013e+08,5620.810196,0.0000,NaN,44409,商业,373.250000
966011,64699adb-b787-43f6-8189-876370d376a2,碧桂园控股有限公司,重庆恒碧房地产开发有限公司,d9712110-637f-41b0-b79c-d1b389535e0b,100.0,100.0,重庆,城口碧桂园观澜府,重庆,城口县,...,普通住宅;,170900.00,94701.89000,5.323013e+08,5620.810196,0.0000,NaN,43831,普通住宅,5161.610000

In [6]:
Real_estate.homeid.nunique()

20027

In [7]:
Real_estate.solutionid.nunique()

17166

In [8]:
Real_estate['salestate']=Real_estate['salestate'].fillna("未公开")
Real_estate['mainstockrate']=Real_estate['mainstockrate'].fillna(0)
Real_estate['totalbuildarea']=Real_estate['totalbuildarea'].fillna(0)
Real_estate['supplyarea']=Real_estate['supplyarea'].fillna(0)
Real_estate['TRADEAREA']=Real_estate['TRADEAREA'].fillna(0)
Real_estate['totaltradeprice']=Real_estate['totaltradeprice'].fillna(0)

In [9]:
print(Real_estate.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 966012 entries, 0 to 966011
Data columns (total 21 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   solutionid       966012 non-null  object
 1   maincaption      966012 non-null  object
 2   itemcaption      966012 non-null  object
 3   homeid           966012 non-null  object
 4   mainstockrate    966012 non-null  float64
 5   itemstockrate    966012 non-null  float64
 6   cityname         966012 non-null  object
 7   housename        966012 non-null  object
 8   cityname.1       966012 non-null  object
 9   houseregion      966012 non-null  object
 10  salestate        966012 non-null  object
 11  hometype         965614 non-null  object
 12  totalbuildarea   966012 non-null  float64
 13  totaltradearea   966012 non-null  float64
 14  totaltrademoney  966012 non-null  float64
 15  totaltradeprice  966012 non-null  float64
 16  sumsupplyarea    966012 non-null  float64
 17  supplyarea       966012 non-null  float64
 18  month            966012 non-null  int64
 19  roomusage        966012 non-null  object
 20  TRADEAREA        966012 non-null  float64
dtypes: float64(9), int64(1), object(11)
memory usage: 154.8+ MB
None

In [10]:
cat_columns=["salestate","roomusage"]
for column in cat_columns:
    Real_estate[column]=Real_estate[column].astype('category')

In [11]:
print(Real_estate['salestate'].value_counts())

售罄     567575
预售     234044
销售     135849
尾盘      22252
未公开      2931
形象       2890
烂尾楼       471
Name: salestate, dtype: int64

In [12]:
Real_estate['salestate']=Real_estate['salestate'].map({"售罄":1,"预售":0,"销售":0,"尾盘":0,"形象":0,"未公开":0,"烂尾楼":0})

In [13]:
Real_estate1=Real_estate.copy()
Real_estate1.sort_values(["solutionid","month"],inplace=True)
Real_estate1=Real_estate1.drop_duplicates(subset=['month','homeid','roomusage'],keep="last")
Real_estate1

,solutionid,maincaption,itemcaption,homeid,mainstockrate,itemstockrate,cityname,housename,cityname.1,houseregion,...,hometype,totalbuildarea,totaltradearea,totaltrademoney,totaltradeprice,sumsupplyarea,supplyarea,month,roomusage,TRADEAREA
494007,000ae181-f590-4d68-9153-5c92efaca581,碧桂园控股有限公司,柳州市盛享碧桂园房地产开发有限公司,deea72ad-2f0b-4fcd-8923-af4e1e2b1507,100.0,100.0,柳州,碧桂园·帕克诺雅,柳州,柳东新区,...,普通住宅;,328483.0,233002.32,2.055031e+09,8819.787463,234122.7,58504.51,42979,普通住宅,0.00
494008,000ae181-f590-4d68-9153-5c92efaca581,碧桂园控股有限公司,柳州市盛享碧桂园房地产开发有限公司,deea72ad-2f0b-4fcd-8923-af4e1e2b1507,100.0,100.0,柳州,碧桂园·帕克诺雅,柳州,柳东新区,...,普通住宅;,328483.0,233002.32,2.055031e+09,8819.787463,234122.7,2336.24,42979,商业,0.00
531077,000ae181-f590-4d68-9153-5c92efaca581,碧桂园控股有限公司,柳州市盛享碧桂园房地产开发有限公司,deea72ad-2f0b-4fcd-8923-af4e1e2b1507,100.0,100.0,柳州,碧桂园·帕克诺雅,柳州,柳东新区,...,普通住宅;,328483.0,233002.32,2.055031e+09,8819.787463,234122.7,0.00,43009,普通住宅,48665.26
531078,000ae181-f590-4d68-9153-5c92efaca581,碧桂园控股有限公司,柳州市盛享碧桂园房地产开发有限公司,deea72ad-2f0b-4fcd-8923-af4e1e2b1507,100.0,100.0,柳州,碧桂园·帕克诺雅,柳州,柳东新区,...,普通住宅;,328483.0,233002.32,2.055031e+09,8819.787463,234122.7,0.00,43040,普通住宅,2973.30
494009,000ae181-f590-4d68-9153-5c92efaca581,碧桂园控股有限公司,柳州市盛享碧桂园房地产开发有限公司,deea72ad-2f0b-4fcd-8923-af4e1e2b1507,100.0,100.0,柳州,碧桂园·帕克诺雅,柳州,柳东新区,...,普通住宅;,328483.0,233002.32,2.055031e+09,8819.787463,234122.7,31174.40,43070,普通住宅,17070.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
942885,ffff1d7c-2202-4367-aefb-1df9316efb03,荣安地产股份有限公司,台州荣方建设房地产开发有限公司,a8025b0c-ee6c-4446-a91a-e719958c0f90,100.0,100.0,台州,金域华府,台州,椒江区,...,普通住宅;,178034.0,118647.69,1.253867e+09,10567.983424,112984.1,0.00,43009,商业,564.49
318534,ffff1d7c-2202-4367-aefb-1df9316efb03,荣安地产股份有限公司,台州荣方建设房地产开发有限公司,a8025b0c-ee6c-4446-a91a-e719958c0f90,100.0,100.0,台州,金域华府,台州,椒江区,...,普通住宅;,178034.0,118647.69,1.253867e+09,10567.983424,112984.1,0.00,43160,商业,294.64
319619,ffff1d7c-2202-4367-aefb-1df9316efb03,荣安地产股份有限公司,台州荣方建设房地产开发有限公司,a8025b0c-ee6c-4446-a91a-e719958c0f90,100.0,100.0,台州,金域华府,台州,椒江区,...,普通住宅;,178034.0,118647.69,1.253867e+09,10567.983424,112984.1,0.00,43221,其他,8739.49
320771,ffff1d7c-2202-4367-aefb-1df9316efb03,荣安地产股份有限公司,台州荣方建设房地产开发有限公司,a8025b0c-ee6c-4446-a91a-e719958c0f90,100.0,100.0,台州,金域华府,台州,椒江区,...,普通住宅;,178034.0,118647.69,1.253867e+09,10567.983424,112984.1,0.00,43221,商业,1425.86
330053,ffff1d7c-2202-4367-aefb-1df9316efb03,荣安地产股份有限公司,台州荣方建设房地产开发有限公司,a8025b0c-ee6c-4446-a91a-e719958c0f90,100.0,100.0,台州,金域华府,台州,椒江区,...,普通住宅;,178034.0,118647.69,1.253867e+09,10567.983424,112984.1,0.00,43252,商业,1914.51

In [14]:
print(Real_estate1.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 852941 entries, 494007 to 330053
Data columns (total 21 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   solutionid       852941 non-null  object
 1   maincaption      852941 non-null  object
 2   itemcaption      852941 non-null  object
 3   homeid           852941 non-null  object
 4   mainstockrate    852941 non-null  float64
 5   itemstockrate    852941 non-null  float64
 6   cityname         852941 non-null  object
 7   housename        852941 non-null  object
 8   cityname.1       852941 non-null  object
 9   houseregion      852941 non-null  object
 10  salestate        852941 non-null  int64
 11  hometype         852551 non-null  object
 12  totalbuildarea   852941 non-null  float64
 13  totaltradearea   852941 non-null  float64
 14  totaltrademoney  852941 non-null  float64
 15  totaltradeprice  852941 non-null  float64
 16  sumsupplyarea    852941 non-null  float64
 17  supplyarea       852941 non-null  float64
 18  month            852941 non-null  int64
 19  roomusage        852941 non-null  category
 20  TRADEAREA        852941 non-null  float64
dtypes: category(1), float64(9), int64(2), object(9)
memory usage: 137.5+ MB
None

In [15]:
print(Real_estate1['roomusage'].value_counts())

普通住宅     440858
商业       179324
别墅        98865
办公        41732
酒店式公寓     41509
其他        41427
动迁安置房      5766
配套商品房      1962
工业          994
限价房         504
Name: roomusage, dtype: int64

In [16]:
Real_estate1.homeid.nunique()

20027

In [17]:
Real_estate1['roomusage']=Real_estate['roomusage'].map({"其他":1,'普通住宅':0,"商业":0,"别墅":0,'酒店式公寓':0,'办公':0,"动迁安置房":0,"工业":0,"限价房":0,"配套商品房":0})

In [18]:
Totalprice=Real_estate1["mainstockrate"]*Real_estate1["itemstockrate"]*Real_estate1["totaltradeprice"]*0.0001

In [19]:
Real_estate1["Totalprice"]=Totalprice
Real_estate1

,solutionid,maincaption,itemcaption,homeid,mainstockrate,itemstockrate,cityname,housename,cityname.1,houseregion,...,totalbuildarea,totaltradearea,totaltrademoney,totaltradeprice,sumsupplyarea,supplyarea,month,roomusage,TRADEAREA,Totalprice
494007,000ae181-f590-4d68-9153-5c92efaca581,碧桂园控股有限公司,柳州市盛享碧桂园房地产开发有限公司,deea72ad-2f0b-4fcd-8923-af4e1e2b1507,100.0,100.0,柳州,碧桂园·帕克诺雅,柳州,柳东新区,...,328483.0,233002.32,2.055031e+09,8819.787463,234122.7,58504.51,42979,0,0.00,8819.787463
494008,000ae181-f590-4d68-9153-5c92efaca581,碧桂园控股有限公司,柳州市盛享碧桂园房地产开发有限公司,deea72ad-2f0b-4fcd-8923-af4e1e2b1507,100.0,100.0,柳州,碧桂园·帕克诺雅,柳州,柳东新区,...,328483.0,233002.32,2.055031e+09,8819.787463,234122.7,2336.24,42979,0,0.00,8819.787463
531077,000ae181-f590-4d68-9153-5c92efaca581,碧桂园控股有限公司,柳州市盛享碧桂园房地产开发有限公司,deea72ad-2f0b-4fcd-8923-af4e1e2b1507,100.0,100.0,柳州,碧桂园·帕克诺雅,柳州,柳东新区,...,328483.0,233002.32,2.055031e+09,8819.787463,234122.7,0.00,43009,0,48665.26,8819.787463
531078,000ae181-f590-4d68-9153-5c92efaca581,碧桂园控股有限公司,柳州市盛享碧桂园房地产开发有限公司,deea72ad-2f0b-4fcd-8923-af4e1e2b1507,100.0,100.0,柳州,碧桂园·帕克诺雅,柳州,柳东新区,...,328483.0,233002.32,2.055031e+09,8819.787463,234122.7,0.00,43040,0,2973.30,8819.787463
494009,000ae181-f590-4d68-9153-5c92efaca581,碧桂园控股有限公司,柳州市盛享碧桂园房地产开发有限公司,deea72ad-2f0b-4fcd-8923-af4e1e2b1507,100.0,100.0,柳州,碧桂园·帕克诺雅,柳州,柳东新区,...,328483.0,233002.32,2.055031e+09,8819.787463,234122.7,31174.40,43070,0,17070.21,8819.787463
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
942885,ffff1d7c-2202-4367-aefb-1df9316efb03,荣安地产股份有限公司,台州荣方建设房地产开发有限公司,a8025b0c-ee6c-4446-a91a-e719958c0f90,100.0,100.0,台州,金域华府,台州,椒江区,...,178034.0,118647.69,1.253867e+09,10567.983424,112984.1,0.00,43009,0,564.49,10567.983424
318534,ffff1d7c-2202-4367-aefb-1df9316efb03,荣安地产股份有限公司,台州荣方建设房地产开发有限公司,a8025b0c-ee6c-4446-a91a-e719958c0f90,100.0,100.0,台州,金域华府,台州,椒江区,...,178034.0,118647.69,1.253867e+09,10567.983424,112984.1,0.00,43160,0,294.64,10567.983424
319619,ffff1d7c-2202-4367-aefb-1df9316efb03,荣安地产股份有限公司,台州荣方建设房地产开发有限公司,a8025b0c-ee6c-4446-a91a-e719958c0f90,100.0,100.0,台州,金域华府,台州,椒江区,...,178034.0,118647.69,1.253867e+09,10567.983424,112984.1,0.00,43221,1,8739.49,10567.983424
320771,ffff1d7c-2202-4367-aefb-1df9316efb03,荣安地产股份有限公司,台州荣方建设房地产开发有限公司,a8025b0c-ee6c-4446-a91a-e719958c0f90,100.0,100.0,台州,金域华府,台州,椒江区,...,178034.0,118647.69,1.253867e+09,10567.983424,112984.1,0.00,43221,0,1425.86,10567.983424
330053,ffff1d7c-2202-4367-aefb-1df9316efb03,荣安地产股份有限公司,台州荣方建设房地产开发有限公司,a8025b0c-ee6c-4446-a91a-e719958c0f90,100.0,100.0,台州,金域华府,台州,椒江区,...,178034.0,118647.69,1.253867e+09,10567.983424,112984.1,0.00,43252,0,1914.51,10567.983424

In [20]:
pt1=Real_estate1.pivot_table(index='homeid',columns="roomusage",values="TRADEAREA",aggfunc=np.sum)
print(pt1)

roomusage                                         0        1
homeid
0007ce2a-df43-4199-b08b-b4414fa65c45  101119.049927      NaN
0009ff05-8020-4503-9629-3aff2fe6b35f   86125.070000      NaN
000afcb2-cb49-455e-834f-bca6fc1f07e7  369414.910000  3887.68
000b8da2-af0b-405f-ada4-5c9f280a7aec   29292.110000      NaN
000c32c5-9074-47f7-aa15-e5659ce13f47      44.470000      NaN
...                                             ...      ...
fff174da-9954-4352-a6d5-63dedb8426db       0.000000     0.00
fff71663-b194-4f52-95d5-446558956c11   66460.370000      NaN
fff7dc76-9bc1-4fcc-a921-350f5e772686            NaN  4397.40
fff85673-8a8b-43c6-8153-60f450d83b95   29479.960000     0.00
fffb4baf-3ca3-4f28-a4de-ca79ace8a3e4   15402.610000      NaN

[20027 rows x 2 columns]

In [21]:
df1=pt1[[0,1]]

In [22]:
Real_estate2=Real_estate1.copy()
Real_estate2.sort_values(["homeid","month"],inplace=True)
Real_estate2=Real_estate2.drop_duplicates(subset=["homeid"],keep="last")
Real_estate2.set_index("homeid",inplace=True)
# 将“其他”的累计tradearea计算出来

In [23]:
Real_estate2["Nettotaltradearea"]=(Real_estate2["totaltradearea"].fillna(0))-(df1[1].fillna(0))

# 从totaltradearea 中扣除“其他”traderea"

In [24]:
pd.DataFrame(Real_estate2)

,solutionid,maincaption,itemcaption,mainstockrate,itemstockrate,cityname,housename,cityname.1,houseregion,salestate,...,totaltradearea,totaltrademoney,totaltradeprice,sumsupplyarea,supplyarea,month,roomusage,TRADEAREA,Totalprice,Nettotaltradearea
homeid,,,,,,,,,,,,,,,,,,,,,
0007ce2a-df43-4199-b08b-b4414fa65c45,d63604d9-e6e5-4037-a4ab-83db7a001100,鲁商置业股份有限公司,鲁商置业青岛有限公司,75.0,100.0,青岛,鲁商首府,青岛,市南区,1,...,283672.559926,7.562188e+09,26658.158779,381969.2699,0.00,44378,0,288.179993,19993.619084,283672.559926
0009ff05-8020-4503-9629-3aff2fe6b35f,a80667b9-63d6-425c-b34f-25d6d2dc72ed,金地(集团)股份有限公司,上海鑫威房地产开发有限公司,24.0,100.0,上海,金地双都汇,上海,松江,1,...,86125.070000,3.891739e+09,45187.064977,84967.8000,0.00,44409,0,126.050000,10844.895594,86125.070000
000afcb2-cb49-455e-834f-bca6fc1f07e7,1ba5c6eb-d210-42f9-b492-28c61025184f,中国恒大集团,恒大地产集团有限公司南宁分公司,100.0,100.0,北海,恒大御景半岛,北海,银海,1,...,372767.580000,3.581149e+09,9606.921770,685019.4510,0.00,44256,0,2081.040000,9606.921770,368879.900000
000b8da2-af0b-405f-ada4-5c9f280a7aec,6becb3b1-95c5-4265-a43f-146a36ef92f0,上海中梁地产集团有限公司,温州恒富中梁置业有限公司,100.0,100.0,温州,玉湖锦园,温州,瑞安市,1,...,29292.110000,6.212857e+08,21210.000000,0.0000,0.00,42856,0,144.590000,21210.000000,29292.110000
000c32c5-9074-47f7-aa15-e5659ce13f47,6c0ee54b-d17c-4a22-9ec4-20feda2a9b24,中国海外发展有限公司,中信海南博鳌投资控股有限公司,100.0,100.0,琼海,中信博鳌千舟湾三期,琼海,博鳌,1,...,326905.323049,5.628648e+09,17217.974834,358849.6978,0.00,42064,0,44.470000,17217.974834,326905.323049
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fff174da-9954-4352-a6d5-63dedb8426db,164597a4-28d0-46de-bd23-d059a351834b,华夏幸福基业股份有限公司,邯郸邯雅房地产开发有限公司,10.0,100.0,邯郸,雅居乐·御宾府,邯郸,丛台区,0,...,0.000000,0.000000e+00,0.000000,6799.1200,5975.74,43435,0,0.000000,0.000000,0.000000
fff71663-b194-4f52-95d5-446558956c11,ab6a7c77-d7ec-4b7c-b8ef-a76e530241f0,珠海华发实业股份有限公司,珠海华发实业股份有限公司,100.0,100.0,珠海,华发新城三期,珠海,香洲,1,...,102775.410000,2.045347e+09,19901.131884,228253.0000,0.00,44378,0,86.990000,19901.131884,102775.410000
fff7dc76-9bc1-4fcc-a921-350f5e772686,f5f6db49-f4f4-42e8-b1bd-91181ab1ddf5,龙湖集团控股有限公司,重庆龙湖地产发展有限公司,100.0,100.0,重庆,龙湖花园,重庆,渝北区,1,...,8337.520000,2.511448e+07,3012.224738,0.0000,0.00,43497,1,4397.400000,3012.224738,3940.120000
fff85673-8a8b-43c6-8153-60f450d83b95,f3f4d189-d3a5-4760-9aa0-32d8844eba57,力高地产集团有限公司,合肥瑞荣置业有限公司,100.0,100.0,合肥,力高君逸府,合肥,肥东县,0,...,23632.210000,3.067005e+08,12978.070838,38431.6500,0.00,44470,0,322.670000,12978.070838,23632.210000
fffb4baf-3ca3-4f28-a4de-ca79ace8a3e4,ba34bd3b-0e4f-4f10-830d-99c979048c24,阳光城集团股份有限公司,佛山益得泓成房地产开发有限公司,100.0,100.0,佛山,阳光城·文澜阁,佛山,南海区,1,...,15402.610000,2.222755e+08,14431.028313,14541.7500,0.00,44105,0,111.760000,14431.028313,15402.610000

In [25]:
Real_estate2.reset_index(inplace=True)

In [26]:
df2=Real_estate2[['solutionid','homeid','maincaption','Totalprice','Nettotaltradearea','salestate','totalbuildarea','sumsupplyarea','month']]
df2.head()

,solutionid,homeid,maincaption,Totalprice,Nettotaltradearea,salestate,totalbuildarea,sumsupplyarea,month
0,d63604d9-e6e5-4037-a4ab-83db7a001100,0007ce2a-df43-4199-b08b-b4414fa65c45,鲁商置业股份有限公司,19993.619084,283672.559926,1,251000.00,381969.2699,44378
1,a80667b9-63d6-425c-b34f-25d6d2dc72ed,0009ff05-8020-4503-9629-3aff2fe6b35f,金地(集团)股份有限公司,10844.895594,86125.070000,1,84968.00,84967.8000,44409
2,1ba5c6eb-d210-42f9-b492-28c61025184f,000afcb2-cb49-455e-834f-bca6fc1f07e7,中国恒大集团,9606.921770,368879.900000,1,1000000.00,685019.4510,44256
3,6becb3b1-95c5-4265-a43f-146a36ef92f0,000b8da2-af0b-405f-ada4-5c9f280a7aec,上海中梁地产集团有限公司,21210.000000,29292.110000,1,129679.47,0.0000,42856
4,6c0ee54b-d17c-4a22-9ec4-20feda2a9b24,000c32c5-9074-47f7-aa15-e5659ce13f47,中国海外发展有限公司,17217.974834,326905.323049,1,7969.73,358849.6978,42064

In [27]:
df2.set_index(["solutionid","salestate"],inplace=True)
df2

,,homeid,maincaption,Totalprice,Nettotaltradearea,totalbuildarea,sumsupplyarea,month
solutionid,salestate,,,,,,,
d63604d9-e6e5-4037-a4ab-83db7a001100,1,0007ce2a-df43-4199-b08b-b4414fa65c45,鲁商置业股份有限公司,19993.619084,283672.559926,251000.00,381969.2699,44378
a80667b9-63d6-425c-b34f-25d6d2dc72ed,1,0009ff05-8020-4503-9629-3aff2fe6b35f,金地(集团)股份有限公司,10844.895594,86125.070000,84968.00,84967.8000,44409
1ba5c6eb-d210-42f9-b492-28c61025184f,1,000afcb2-cb49-455e-834f-bca6fc1f07e7,中国恒大集团,9606.921770,368879.900000,1000000.00,685019.4510,44256
6becb3b1-95c5-4265-a43f-146a36ef92f0,1,000b8da2-af0b-405f-ada4-5c9f280a7aec,上海中梁地产集团有限公司,21210.000000,29292.110000,129679.47,0.0000,42856
6c0ee54b-d17c-4a22-9ec4-20feda2a9b24,1,000c32c5-9074-47f7-aa15-e5659ce13f47,中国海外发展有限公司,17217.974834,326905.323049,7969.73,358849.6978,42064
...,...,...,...,...,...,...,...,...
164597a4-28d0-46de-bd23-d059a351834b,0,fff174da-9954-4352-a6d5-63dedb8426db,华夏幸福基业股份有限公司,0.000000,0.000000,53100.97,6799.1200,43435
ab6a7c77-d7ec-4b7c-b8ef-a76e530241f0,1,fff71663-b194-4f52-95d5-446558956c11,珠海华发实业股份有限公司,19901.131884,102775.410000,275812.33,228253.0000,44378
f5f6db49-f4f4-42e8-b1bd-91181ab1ddf5,1,fff7dc76-9bc1-4fcc-a921-350f5e772686,龙湖集团控股有限公司,3012.224738,3940.120000,175400.00,0.0000,43497
f3f4d189-d3a5-4760-9aa0-32d8844eba57,0,fff85673-8a8b-43c6-8153-60f450d83b95,力高地产集团有限公司,12978.070838,23632.210000,84780.00,38431.6500,44470
ba34bd3b-0e4f-4f10-830d-99c979048c24,1,fffb4baf-3ca3-4f28-a4de-ca79ace8a3e4,阳光城集团股份有限公司,14431.028313,15402.610000,13333.02,14541.7500,44105

In [28]:
df4=df2.groupby(['solutionid','salestate']).sum()
df4

,,Totalprice,Nettotaltradearea,totalbuildarea,sumsupplyarea,month
solutionid,salestate,,,,,
000ae181-f590-4d68-9153-5c92efaca581,0,8819.787463,2.330023e+05,328483.00,2.341227e+05,44440
000b8e15-f0bf-447c-bef6-5e2f071bcebf,0,6393.285863,4.668304e+05,750000.00,5.280744e+05,44470
000c1a1a-82c5-4ffd-80ae-0f901d5970f1,1,15146.837116,1.068934e+05,140000.00,9.352978e+04,44075
000d0bea-e762-4317-8278-bb1bb2cd381a,0,21142.960899,2.897005e+04,162985.60,4.234394e+04,44287
000f9711-85ed-4e22-a182-40652fd7b07b,0,20387.757388,4.008613e+05,695145.62,4.116044e+05,44470
...,...,...,...,...,...,...
ffe056b4-2279-45ca-9030-f97b58f76dde,1,9196.503353,6.423274e+05,1280000.00,6.385022e+05,44378
ffe5fc75-53ef-49cb-a437-20fc1aebb94a,0,15875.844169,2.111373e+05,337816.12,3.503895e+05,44470
ffe8c75b-c654-4c92-8d39-496a784f191b,1,30017.907419,2.184980e+06,621515.03,2.079148e+06,177392
ffeec6eb-c186-4d70-90cd-56beff035093,0,3347.295121,1.226157e+05,428800.00,3.423664e+05,44470
ffff1d7c-2202-4367-aefb-1df9316efb03,0,10567.983424,1.071994e+05,178034.00,1.129841e+05,43252

In [29]:
df4=df4.xs(1,level='salestate')
df4

,Totalprice,Nettotaltradearea,totalbuildarea,sumsupplyarea,month
solutionid,,,,,
000c1a1a-82c5-4ffd-80ae-0f901d5970f1,15146.837116,1.068934e+05,140000.000,9.352978e+04,44075
001143c7-5638-46f2-ad9d-005d76369228,5555.187120,3.865495e+05,549798.700,4.039584e+05,44378
0028f0fd-f877-4d10-934f-7a4a499b9659,13762.305571,5.343681e+05,652102.000,5.087226e+05,44470
002b852b-7fd9-4581-b091-bbf9bf080494,6784.468787,2.452044e+05,270171.945,2.648928e+05,44378
0033a497-7a6f-4ef7-af3d-6ef19f0745be,13348.797251,1.948422e+05,305000.000,2.987095e+05,44378
...,...,...,...,...,...
ffba35a6-aa1b-4263-8a99-b499084191de,15575.309118,9.801333e+04,357400.000,1.364504e+05,44470
ffbe28b9-4ae2-451b-8004-64b642074b54,5827.972826,1.109231e+05,119485.190,1.219521e+05,44470
ffdb8ef5-8f99-483c-b6cc-302d6ffe0496,16821.543576,3.166182e+05,333600.060,3.465972e+05,44470
ffe056b4-2279-45ca-9030-f97b58f76dde,9196.503353,6.423274e+05,1280000.000,6.385022e+05,44378
ffe8c75b-c654-4c92-8d39-496a784f191b,30017.907419,2.184980e+06,621515.030,2.079148e+06,177392

In [30]:
df4['Nettotaltradearea1']=df4['Nettotaltradearea']-df4['totalbuildarea']
df4

<ipython-input-30-4c230ae37661>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['Nettotaltradearea1']=df4['Nettotaltradearea']-df4['totalbuildarea']

,Totalprice,Nettotaltradearea,totalbuildarea,sumsupplyarea,month,Nettotaltradearea1
solutionid,,,,,,
000c1a1a-82c5-4ffd-80ae-0f901d5970f1,15146.837116,1.068934e+05,140000.000,9.352978e+04,44075,-3.310660e+04
001143c7-5638-46f2-ad9d-005d76369228,5555.187120,3.865495e+05,549798.700,4.039584e+05,44378,-1.632492e+05
0028f0fd-f877-4d10-934f-7a4a499b9659,13762.305571,5.343681e+05,652102.000,5.087226e+05,44470,-1.177339e+05
002b852b-7fd9-4581-b091-bbf9bf080494,6784.468787,2.452044e+05,270171.945,2.648928e+05,44378,-2.496760e+04
0033a497-7a6f-4ef7-af3d-6ef19f0745be,13348.797251,1.948422e+05,305000.000,2.987095e+05,44378,-1.101578e+05
...,...,...,...,...,...,...
ffba35a6-aa1b-4263-8a99-b499084191de,15575.309118,9.801333e+04,357400.000,1.364504e+05,44470,-2.593867e+05
ffbe28b9-4ae2-451b-8004-64b642074b54,5827.972826,1.109231e+05,119485.190,1.219521e+05,44470,-8.562120e+03
ffdb8ef5-8f99-483c-b6cc-302d6ffe0496,16821.543576,3.166182e+05,333600.060,3.465972e+05,44470,-1.698183e+04
ffe056b4-2279-45ca-9030-f97b58f76dde,9196.503353,6.423274e+05,1280000.000,6.385022e+05,44378,-6.376726e+05
ffe8c75b-c654-4c92-8d39-496a784f191b,30017.907419,2.184980e+06,621515.030,2.079148e+06,177392,1.563465e+06

In [31]:
df4.reset_index(inplace=True)
df4

,solutionid,Totalprice,Nettotaltradearea,totalbuildarea,sumsupplyarea,month,Nettotaltradearea1
0,000c1a1a-82c5-4ffd-80ae-0f901d5970f1,15146.837116,1.068934e+05,140000.000,9.352978e+04,44075,-3.310660e+04
1,001143c7-5638-46f2-ad9d-005d76369228,5555.187120,3.865495e+05,549798.700,4.039584e+05,44378,-1.632492e+05
2,0028f0fd-f877-4d10-934f-7a4a499b9659,13762.305571,5.343681e+05,652102.000,5.087226e+05,44470,-1.177339e+05
3,002b852b-7fd9-4581-b091-bbf9bf080494,6784.468787,2.452044e+05,270171.945,2.648928e+05,44378,-2.496760e+04
4,0033a497-7a6f-4ef7-af3d-6ef19f0745be,13348.797251,1.948422e+05,305000.000,2.987095e+05,44378,-1.101578e+05
...,...,...,...,...,...,...,...
8654,ffba35a6-aa1b-4263-8a99-b499084191de,15575.309118,9.801333e+04,357400.000,1.364504e+05,44470,-2.593867e+05
8655,ffbe28b9-4ae2-451b-8004-64b642074b54,5827.972826,1.109231e+05,119485.190,1.219521e+05,44470,-8.562120e+03
8656,ffdb8ef5-8f99-483c-b6cc-302d6ffe0496,16821.543576,3.166182e+05,333600.060,3.465972e+05,44470,-1.698183e+04
8657,ffe056b4-2279-45ca-9030-f97b58f76dde,9196.503353,6.423274e+05,1280000.000,6.385022e+05,44378,-6.376726e+05
8658,ffe8c75b-c654-4c92-8d39-496a784f191b,30017.907419,2.184980e+06,621515.030,2.079148e+06,177392,1.563465e+06

In [32]:
df4=df4.loc[:,['solutionid',"Nettotaltradearea1"]]
df4

                                solutionid  Nettotaltradearea1
0     000c1a1a-82c5-4ffd-80ae-0f901d5970f1       -3.310660e+04
1     001143c7-5638-46f2-ad9d-005d76369228       -1.632492e+05
2     0028f0fd-f877-4d10-934f-7a4a499b9659       -1.177339e+05
3     002b852b-7fd9-4581-b091-bbf9bf080494       -2.496760e+04
4     0033a497-7a6f-4ef7-af3d-6ef19f0745be       -1.101578e+05
...                                    ...                 ...
8654  ffba35a6-aa1b-4263-8a99-b499084191de       -2.593867e+05
8655  ffbe28b9-4ae2-451b-8004-64b642074b54       -8.562120e+03
8656  ffdb8ef5-8f99-483c-b6cc-302d6ffe0496       -1.698183e+04
8657  ffe056b4-2279-45ca-9030-f97b58f76dde       -6.376726e+05
8658  ffe8c75b-c654-4c92-8d39-496a784f191b        1.563465e+06

[8659 rows x 2 columns]

In [33]:
df4.set_index(["solutionid"],inplace=True)
df4

                                      Nettotaltradearea1
solutionid
000c1a1a-82c5-4ffd-80ae-0f901d5970f1       -3.310660e+04
001143c7-5638-46f2-ad9d-005d76369228       -1.632492e+05
0028f0fd-f877-4d10-934f-7a4a499b9659       -1.177339e+05
002b852b-7fd9-4581-b091-bbf9bf080494       -2.496760e+04
0033a497-7a6f-4ef7-af3d-6ef19f0745be       -1.101578e+05
...                                                  ...
ffba35a6-aa1b-4263-8a99-b499084191de       -2.593867e+05
ffbe28b9-4ae2-451b-8004-64b642074b54       -8.562120e+03
ffdb8ef5-8f99-483c-b6cc-302d6ffe0496       -1.698183e+04
ffe056b4-2279-45ca-9030-f97b58f76dde       -6.376726e+05
ffe8c75b-c654-4c92-8d39-496a784f191b        1.563465e+06

[8659 rows x 1 columns]

In [34]:
df5=df2.xs(0,level='salestate')
df5

,homeid,maincaption,Totalprice,Nettotaltradearea,totalbuildarea,sumsupplyarea,month
solutionid,,,,,,,
7549a9ee-25a9-4dd5-bcdc-169a0bb67c27,000fac1b-7fe0-4ed1-96b3-b1c28554324a,万科企业股份有限公司,8741.864965,3.413688e+04,1.700000e+05,124428.1500,44409
c4a18953-d23b-4986-a8f9-670a2ee43de7,0016233a-e502-4e58-aa90-cf73fd5a6958,万科企业股份有限公司,5953.371458,1.270447e+05,3.200000e+05,171922.1900,44470
bdd9bda9-1458-4a4b-b8a9-7f6b205a9fc6,002331e9-eca1-4d3e-b5d3-ff106455ca3c,中国海外发展有限公司,8689.506482,5.949527e+04,6.019100e+04,59430.5100,44348
df1ae477-ff0b-4d90-8385-667bbd3b828c,002e67d8-d1a7-4a7f-8073-b188772c4bf9,万科企业股份有限公司,9860.622460,8.855545e+05,4.180027e+05,938229.8304,44317
c0fc31ca-bac7-11ea-a06d-c71cdcceaf2e,003b45e6-5ac9-48dd-9175-dbe14f2e04b3,越秀地产股份有限公司,17553.672154,1.117192e+05,2.985803e+05,264100.2900,44470
...,...,...,...,...,...,...,...
c734fa3f-4026-4c77-91d7-854f96876f0f,ffe25382-bb27-4f4f-bf6d-72b0bf385111,融创中国控股有限公司,5387.023173,1.008533e+06,1.015000e+06,994133.7000,44470
d1da6cde-c5b8-4c5d-a82d-a159d0880ccc,ffec2353-2881-41f4-97a7-2d74786dacf2,碧桂园控股有限公司,6883.163860,2.510292e+05,9.673160e+05,281782.9100,44470
531c8b21-bc6c-4979-aa45-1ae7dd9b1010,ffedaf6c-57e4-4217-ab8b-0f42ebcc74f7,四川蓝光和骏实业有限公司,5090.873583,7.636069e+04,7.920534e+04,78110.9700,44470
164597a4-28d0-46de-bd23-d059a351834b,fff174da-9954-4352-a6d5-63dedb8426db,华夏幸福基业股份有限公司,0.000000,0.000000e+00,5.310097e+04,6799.1200,43435
f3f4d189-d3a5-4760-9aa0-32d8844eba57,fff85673-8a8b-43c6-8153-60f450d83b95,力高地产集团有限公司,12978.070838,2.363221e+04,8.478000e+04,38431.6500,44470

In [35]:
df6=pd.merge(df5,df4,on=['solutionid'],how='left')
df6.reset_index(inplace=True)
df6

,solutionid,homeid,maincaption,Totalprice,Nettotaltradearea,totalbuildarea,sumsupplyarea,month,Nettotaltradearea1
0,7549a9ee-25a9-4dd5-bcdc-169a0bb67c27,000fac1b-7fe0-4ed1-96b3-b1c28554324a,万科企业股份有限公司,8741.864965,3.413688e+04,1.700000e+05,124428.1500,44409,NaN
1,c4a18953-d23b-4986-a8f9-670a2ee43de7,0016233a-e502-4e58-aa90-cf73fd5a6958,万科企业股份有限公司,5953.371458,1.270447e+05,3.200000e+05,171922.1900,44470,NaN
2,bdd9bda9-1458-4a4b-b8a9-7f6b205a9fc6,002331e9-eca1-4d3e-b5d3-ff106455ca3c,中国海外发展有限公司,8689.506482,5.949527e+04,6.019100e+04,59430.5100,44348,NaN
3,df1ae477-ff0b-4d90-8385-667bbd3b828c,002e67d8-d1a7-4a7f-8073-b188772c4bf9,万科企业股份有限公司,9860.622460,8.855545e+05,4.180027e+05,938229.8304,44317,NaN
4,c0fc31ca-bac7-11ea-a06d-c71cdcceaf2e,003b45e6-5ac9-48dd-9175-dbe14f2e04b3,越秀地产股份有限公司,17553.672154,1.117192e+05,2.985803e+05,264100.2900,44470,NaN
...,...,...,...,...,...,...,...,...,...
9211,c734fa3f-4026-4c77-91d7-854f96876f0f,ffe25382-bb27-4f4f-bf6d-72b0bf385111,融创中国控股有限公司,5387.023173,1.008533e+06,1.015000e+06,994133.7000,44470,973533.27
9212,d1da6cde-c5b8-4c5d-a82d-a159d0880ccc,ffec2353-2881-41f4-97a7-2d74786dacf2,碧桂园控股有限公司,6883.163860,2.510292e+05,9.673160e+05,281782.9100,44470,NaN
9213,531c8b21-bc6c-4979-aa45-1ae7dd9b1010,ffedaf6c-57e4-4217-ab8b-0f42ebcc74f7,四川蓝光和骏实业有限公司,5090.873583,7.636069e+04,7.920534e+04,78110.9700,44470,NaN
9214,164597a4-28d0-46de-bd23-d059a351834b,fff174da-9954-4352-a6d5-63dedb8426db,华夏幸福基业股份有限公司,0.000000,0.000000e+00,5.310097e+04,6799.1200,43435,NaN
9215,f3f4d189-d3a5-4760-9aa0-32d8844eba57,fff85673-8a8b-43c6-8153-60f450d83b95,力高地产集团有限公司,12978.070838,2.363221e+04,8.478000e+04,38431.6500,44470,NaN

In [36]:
df6['Nettotaltradearea2']=df6['Nettotaltradearea1'].fillna(0)
df6.head()

,solutionid,homeid,maincaption,Totalprice,Nettotaltradearea,totalbuildarea,sumsupplyarea,month,Nettotaltradearea1,Nettotaltradearea2
0,7549a9ee-25a9-4dd5-bcdc-169a0bb67c27,000fac1b-7fe0-4ed1-96b3-b1c28554324a,万科企业股份有限公司,8741.864965,34136.880000,170000.00000,124428.1500,44409,NaN,0.0
1,c4a18953-d23b-4986-a8f9-670a2ee43de7,0016233a-e502-4e58-aa90-cf73fd5a6958,万科企业股份有限公司,5953.371458,127044.720000,320000.00000,171922.1900,44470,NaN,0.0
2,bdd9bda9-1458-4a4b-b8a9-7f6b205a9fc6,002331e9-eca1-4d3e-b5d3-ff106455ca3c,中国海外发展有限公司,8689.506482,59495.270000,60191.00000,59430.5100,44348,NaN,0.0
3,df1ae477-ff0b-4d90-8385-667bbd3b828c,002e67d8-d1a7-4a7f-8073-b188772c4bf9,万科企业股份有限公司,9860.622460,885554.510054,418002.66987,938229.8304,44317,NaN,0.0
4,c0fc31ca-bac7-11ea-a06d-c71cdcceaf2e,003b45e6-5ac9-48dd-9175-dbe14f2e04b3,越秀地产股份有限公司,17553.672154,111719.220000,298580.34000,264100.2900,44470,NaN,0.0

In [37]:
df6['Nettotaltradearea3']=df6.apply(lambda x:x['Nettotaltradearea2']*(-1000000000000000000) if x['Nettotaltradearea2']<0 else x['Nettotaltradearea2'],axis=1)

In [38]:
Nettotaltradearea4=df6['Nettotaltradearea']-df6['Nettotaltradearea3']
df6["Nettotaltradearea4"]=Nettotaltradearea4
df6.head()

,solutionid,homeid,maincaption,Totalprice,Nettotaltradearea,totalbuildarea,sumsupplyarea,month,Nettotaltradearea1,Nettotaltradearea2,Nettotaltradearea3,Nettotaltradearea4
0,7549a9ee-25a9-4dd5-bcdc-169a0bb67c27,000fac1b-7fe0-4ed1-96b3-b1c28554324a,万科企业股份有限公司,8741.864965,34136.880000,170000.00000,124428.1500,44409,NaN,0.0,0.0,34136.880000
1,c4a18953-d23b-4986-a8f9-670a2ee43de7,0016233a-e502-4e58-aa90-cf73fd5a6958,万科企业股份有限公司,5953.371458,127044.720000,320000.00000,171922.1900,44470,NaN,0.0,0.0,127044.720000
2,bdd9bda9-1458-4a4b-b8a9-7f6b205a9fc6,002331e9-eca1-4d3e-b5d3-ff106455ca3c,中国海外发展有限公司,8689.506482,59495.270000,60191.00000,59430.5100,44348,NaN,0.0,0.0,59495.270000
3,df1ae477-ff0b-4d90-8385-667bbd3b828c,002e67d8-d1a7-4a7f-8073-b188772c4bf9,万科企业股份有限公司,9860.622460,885554.510054,418002.66987,938229.8304,44317,NaN,0.0,0.0,885554.510054
4,c0fc31ca-bac7-11ea-a06d-c71cdcceaf2e,003b45e6-5ac9-48dd-9175-dbe14f2e04b3,越秀地产股份有限公司,17553.672154,111719.220000,298580.34000,264100.2900,44470,NaN,0.0,0.0,111719.220000

In [39]:
df6['Nettotaltradearea5']=df6.apply(lambda x:0 if x['Nettotaltradearea4']<0 else x['Nettotaltradearea4'],axis=1)

In [40]:
def calc_weights(the_area):
    return the_area/the_area.sum()
weights=df6.groupby('solutionid').totalbuildarea.apply(calc_weights)
weights

0       1.000000
1       1.000000
2       1.000000
3       1.000000
4       1.000000
          ...
9211    1.000000
9212    0.449094
9213    1.000000
9214    1.000000
9215    1.000000
Name: totalbuildarea, Length: 9216, dtype: float64

In [41]:
df6["weights"]=weights
df6.head()

,solutionid,homeid,maincaption,Totalprice,Nettotaltradearea,totalbuildarea,sumsupplyarea,month,Nettotaltradearea1,Nettotaltradearea2,Nettotaltradearea3,Nettotaltradearea4,Nettotaltradearea5,weights
0,7549a9ee-25a9-4dd5-bcdc-169a0bb67c27,000fac1b-7fe0-4ed1-96b3-b1c28554324a,万科企业股份有限公司,8741.864965,34136.880000,170000.00000,124428.1500,44409,NaN,0.0,0.0,34136.880000,34136.880000,1.0
1,c4a18953-d23b-4986-a8f9-670a2ee43de7,0016233a-e502-4e58-aa90-cf73fd5a6958,万科企业股份有限公司,5953.371458,127044.720000,320000.00000,171922.1900,44470,NaN,0.0,0.0,127044.720000,127044.720000,1.0
2,bdd9bda9-1458-4a4b-b8a9-7f6b205a9fc6,002331e9-eca1-4d3e-b5d3-ff106455ca3c,中国海外发展有限公司,8689.506482,59495.270000,60191.00000,59430.5100,44348,NaN,0.0,0.0,59495.270000,59495.270000,1.0
3,df1ae477-ff0b-4d90-8385-667bbd3b828c,002e67d8-d1a7-4a7f-8073-b188772c4bf9,万科企业股份有限公司,9860.622460,885554.510054,418002.66987,938229.8304,44317,NaN,0.0,0.0,885554.510054,885554.510054,1.0
4,c0fc31ca-bac7-11ea-a06d-c71cdcceaf2e,003b45e6-5ac9-48dd-9175-dbe14f2e04b3,越秀地产股份有限公司,17553.672154,111719.220000,298580.34000,264100.2900,44470,NaN,0.0,0.0,111719.220000,111719.220000,1.0

In [42]:
sumsupplyarea1=df6.loc[:,"sumsupplyarea"]*df6.loc[:,"weights"]

In [43]:
df6["sumsupplyarea1"]=sumsupplyarea1

In [44]:
df6['Totalbuildarea1']=df6.loc[:,['totalbuildarea','sumsupplyarea1']].apply(max,axis=1)
df6

,solutionid,homeid,maincaption,Totalprice,Nettotaltradearea,totalbuildarea,sumsupplyarea,month,Nettotaltradearea1,Nettotaltradearea2,Nettotaltradearea3,Nettotaltradearea4,Nettotaltradearea5,weights,sumsupplyarea1,Totalbuildarea1
0,7549a9ee-25a9-4dd5-bcdc-169a0bb67c27,000fac1b-7fe0-4ed1-96b3-b1c28554324a,万科企业股份有限公司,8741.864965,3.413688e+04,1.700000e+05,124428.1500,44409,NaN,0.00,0.00,34136.880000,34136.880000,1.000000,124428.150000,1.700000e+05
1,c4a18953-d23b-4986-a8f9-670a2ee43de7,0016233a-e502-4e58-aa90-cf73fd5a6958,万科企业股份有限公司,5953.371458,1.270447e+05,3.200000e+05,171922.1900,44470,NaN,0.00,0.00,127044.720000,127044.720000,1.000000,171922.190000,3.200000e+05
2,bdd9bda9-1458-4a4b-b8a9-7f6b205a9fc6,002331e9-eca1-4d3e-b5d3-ff106455ca3c,中国海外发展有限公司,8689.506482,5.949527e+04,6.019100e+04,59430.5100,44348,NaN,0.00,0.00,59495.270000,59495.270000,1.000000,59430.510000,6.019100e+04
3,df1ae477-ff0b-4d90-8385-667bbd3b828c,002e67d8-d1a7-4a7f-8073-b188772c4bf9,万科企业股份有限公司,9860.622460,8.855545e+05,4.180027e+05,938229.8304,44317,NaN,0.00,0.00,885554.510054,885554.510054,1.000000,938229.830400,9.382298e+05
4,c0fc31ca-bac7-11ea-a06d-c71cdcceaf2e,003b45e6-5ac9-48dd-9175-dbe14f2e04b3,越秀地产股份有限公司,17553.672154,1.117192e+05,2.985803e+05,264100.2900,44470,NaN,0.00,0.00,111719.220000,111719.220000,1.000000,264100.290000,2.985803e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9211,c734fa3f-4026-4c77-91d7-854f96876f0f,ffe25382-bb27-4f4f-bf6d-72b0bf385111,融创中国控股有限公司,5387.023173,1.008533e+06,1.015000e+06,994133.7000,44470,973533.27,973533.27,973533.27,35000.000000,35000.000000,1.000000,994133.700000,1.015000e+06
9212,d1da6cde-c5b8-4c5d-a82d-a159d0880ccc,ffec2353-2881-41f4-97a7-2d74786dacf2,碧桂园控股有限公司,6883.163860,2.510292e+05,9.673160e+05,281782.9100,44470,NaN,0.00,0.00,251029.190000,251029.190000,0.449094,126547.113211,9.673160e+05
9213,531c8b21-bc6c-4979-aa45-1ae7dd9b1010,ffedaf6c-57e4-4217-ab8b-0f42ebcc74f7,四川蓝光和骏实业有限公司,5090.873583,7.636069e+04,7.920534e+04,78110.9700,44470,NaN,0.00,0.00,76360.690000,76360.690000,1.000000,78110.970000,7.920534e+04
9214,164597a4-28d0-46de-bd23-d059a351834b,fff174da-9954-4352-a6d5-63dedb8426db,华夏幸福基业股份有限公司,0.000000,0.000000e+00,5.310097e+04,6799.1200,43435,NaN,0.00,0.00,0.000000,0.000000,1.000000,6799.120000,5.310097e+04
9215,f3f4d189-d3a5-4760-9aa0-32d8844eba57,fff85673-8a8b-43c6-8153-60f450d83b95,力高地产集团有限公司,12978.070838,2.363221e+04,8.478000e+04,38431.6500,44470,NaN,0.00,0.00,23632.210000,23632.210000,1.000000,38431.650000,8.478000e+04

In [45]:
Totalvalue=df6.loc[:,"Totalprice"]*(df6.loc[:,"Totalbuildarea1"]-df6.loc[:,"Nettotaltradearea5"]*df6.loc[:,"weights"])

In [58]:
df6["Totalvalue"]=Totalvalue
df6['Totalvalue1']=df6.apply(lambda x:0 if x['Totalvalue']<0 else x['Totalvalue'],axis=1)

In [59]:
pt2=df6.pivot_table(index=['maincaption','homeid'],values="Totalvalue1",aggfunc=np.sum)
pt2

                                                   Totalvalue1
maincaption homeid
万科企业股份有限公司  000fac1b-7fe0-4ed1-96b3-b1c28554324a  1.187697e+09
            0016233a-e502-4e58-aa90-cf73fd5a6958  1.148734e+09
            002e67d8-d1a7-4a7f-8073-b188772c4bf9  5.194114e+08
            005b5dc8-917b-40b6-a4b4-411d495ce6d5  6.696999e+07
            005eb5d1-429c-4c64-a120-789671f6a7cb  7.076350e+09
...                                                        ...
龙湖集团控股有限公司  fb6f2685-12d2-44ca-b5b8-453f621bc74b  2.477041e+09
            fbce9155-a0a4-4e41-adb5-e014bcb32d4d  4.592596e+08
            fdd21154-ea56-495d-b8ce-bab2c4518740  4.457702e+09
            fe12e8fc-1483-48f2-bdd5-41330283d953  2.457450e+09
            fed4cae1-276f-41ea-9729-4ad5716c277d  2.022495e+09

[9216 rows x 1 columns]

In [60]:
pt2.to_excel("销售统计5.xls")

<ipython-input-60-a7a97309cea2>:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  pt2.to_excel("销售统计5.xls")